@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
    .topping__container
        bottom: 5%
    .topping__carousel-content-heading
        font-size: 36px
    .topping__carousel-content-subheading
        font-size: 20px
    .footer__list-item
        text-align: center
    .owl-prev,
    .owl-next
        display: none
    #videoOwl .owl-stage-outer
        margin: 0 auto
    .video__carousel
        height: 328px
    .video__carousel-box
        width: 600px
    .video__carousel-content
        width: 338px
        padding: 10px 30px
        margin-top: 5%
    .video__carousel-content-subheading,
    .video__carousel-content-text
        width: 100%
    #stepsOwl .owl-prev,
    #stepsOwl .owl-next
        display: none

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
    .header__mobile-menu
        display: block
    .topping__container
        position: static
        width: 100%
        transform: translateX(0)
        padding: 20px
        max-width: 100%
    .topping__container-form-search
        max-width: 100%
        padding: 7px 130px 7px 15px
        border-radius: 3px
    .topping__container-form-button
        position: absolute
        right: 20px
        top: 20px
    .topping__carousel-content-heading
        font-size: 36px
    .topping__carousel-content-subheading
        font-size: 20px
    .topping__carousel-content
        top: 45%
    .header__search
        width: 40%
    .explore__idea-subheading
        display: none
    .explore__wrapper:hover .explore__idea-heading:before
        transform: none
    .explore__wrapper
        height: 150px
    .guides__button
        max-width: 300px
        width: 100%
        margin: 30px auto
    .video__carousel-box
        width: 100%
        max-width: 735px
        height: 100%
    .video__carousel-content
        position: absolute
        top: 5%
        left: 0
        z-index: 100
        padding: 10px 40px 10px 25px
        text-align: left
        margin-top: 0
    .video__carousel-content-heading,
    .video__carousel-content-subheading,
    .video__carousel-content-text
        color: #fff
    .terms
        background: #fff
        padding: 20px 0 50px 0
    .terms__heading
        color: #000000
    .terms__subheading
        color: #777777
    .terms__wrapper
        padding-top: 30px
    .steps
        background: #f3f3f3
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
    .bodyWrapper
        padding-top: 100px
    .header__wrapper
        background: #f3f3f3
        height: 100px
    .header__auth-list-link
        color: #777777
    .header__mobile-menu:before
        color: #777777
    .topping
        padding-top: 80px
    .explore__wrapper
        width: max-content
        max-width: 300px
        margin: auto
        height: 110px
    .header__search
        width: 100%
        order: 3
        opacity: 1
        visibility: visible
        margin-top: -15px
    .header__search-form-search
        max-width: 100%
    .topping__container
        display: none
    .header__auth
        margin: 0
    .header__logo
        display: inline-block
        padding: 0 10px
        margin: 0 auto
    .header__auth-list-item:last-of-type
        padding-left: 0
    .topping__carousel-content-heading
        font-size: 22px
    .topping__carousel-content-subheading
        font-size: 14px
    .explore__subheading
        padding-bottom: 30px
    .footer__newsletter-input
        display: inline-block
        line-height: 50px
    .guides__image
        margin: 0 auto
    .video
        padding: 50px 15px
    .video__carousel
        height: auto
        background: none
        border: none
        position: static
    .video__carousel-content
        display: none
    #videoOwl.owl-carousel .owl-dots
        position: absolute
        bottom: 0
        margin: 0
        left: 50%
        transform: translateX(-50%)
    #videoOwl.owl-carousel .owl-dot
        background-color: #fff
    #videoOwl.owl-carousel .owl-dot.active
        background-color: #777
    .footer__list
        min-height: auto
    .footer__list-link
        font-size: 16px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
    .header__auth-list-item:last-of-type
        display: none
    .header__logo
        margin: auto 0 auto auto
        padding-right: 0
    .topping__carousel-content-heading
        font-size: 18px
    .topping__carousel-content-subheading
        font-size: 12px
    .footer__newsletter-form
        line-height: 1
    .footer__newsletter-label.icon-mail:before
        top: 31px
        left: 04px
    .footer__newsletter-input
        display: block
        line-height: 1
    .footer__newsletter
        max-width: 200px
    .footer__newsletter-label
        padding-top: 9px
    .footer
        height: 65px
    #videoOwl.owl-carousel .owl-dots
        width: 100%
    #videoOwl.owl-carousel .owl-dot
        height: 24px
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

