$mainFont: "nunito-regular", sans-serif
$mainFontBold: "nunito-bold", sans-serif
$mainColor: #0a9bb6

$headerNavLinkColor: #fff
$headerHeadingColor: #fff
$headerSubheadingColor: #fff
$headerInputPlaceholderColor: #302f35
$headerButtonBG: #34cfec
$headerButtonColor: #fff
